<div class="poveke" [ngStyle]="{'background-color': 'black','color':'white'}">
    <h1>Contact and information</h1> 
    <h3>Customer Support:</h3>
    <ul [ngStyle]="{'list-style-type': 'none', 
        'padding': '0',
        'margin': '0', 
        'display': 'flex', 
        'flex-direction': 'column', 
        'align-items': 'center'}">
           <li><strong>Email:</strong> support&#64;bagswift.com</li>
            <li><strong>Phone:</strong> +1 (555) 123-4567</li>
            <li><strong>Hours:</strong> Monday to Sunday, 9:00 AM - 6:00 PM</li>
            <li><strong>Live Chat:</strong> Available on our website during business hours.</li>
    </ul>
    <h3>About Us:</h3>
    <p>Welcome to Bags Swift, your go-to destination for stylish and high-quality bags and wallets. We pride ourselves 
        on offering a curated collection that blends fashion and functionality, ensuring you find the perfect accessory for any occasion.</p>
        <p>Stay connected with Bags Swift on social media for the latest updates, promotions, and style inspirations. </p>
            <a href="https://www.facebook.com/" >Facebook:Bags Swift</a> <br> 
            <a href="https://www.instagram.com/">Instagram: BagsSwift</a> <br>
            <a href="https://www.twitter.com/">Twitter: BagsSwift</a><br>
       <p></p>
</div>
<footer>
    <div class="container">
        <p>&copy; 2024 Bags Swift - All rights reserved</p>
        <p>Designed with ❤️ by BagSwift</p>
      </div>
</footer>