<header>
    <div class="heder1">
        <a href="#" routerLink="/" class="logo">BagsSwift</a>
        
         
        <nav>
            <ul style="display: flex;">
                <li><a [routerLink]="'/najava'">Најава</a></li>
                <li><a [routerLink]="'/cart-page'">Корпа</a></li>
                <li><a href="#" [routerLink]="'/poveke'">Повеќе</a></li>
                <li><a [routerLink]="'/anketa'">Анкета</a></li>
                <li><img src="https://img001.video2b.com/2006/file_01697771714930.png" style="height: 65px;"></li>
            </ul>
        </nav>
    </div>
</header>
