<div>
    <p>1. Колку често ја користите нашата онлајн продавница за чанти?</p>
    <label>
      <input type="radio" name="frequency" value="regular"> Редовно
    </label>
    <label>
      <input type="radio" name="frequency" value="occasional"> Повремено
    </label>
    <label>
      <input type="radio" name="frequency" value="rare"> Ретко
    </label>
    <label>
      <input type="radio" name="frequency" value="never"> Никогаш
    </label>
  </div>
  
<div>
    <p>2. Кои видови чанти најчесто ги купувате од нас?</p>
    <label>
      <input type="checkbox" name="bagTypes" value="sports"> Спортски чанти
    </label>
    <label>
      <input type="checkbox" name="bagTypes" value="business"> Бизнис чанти
    </label>
    <label>
      <input type="checkbox" name="bagTypes" value="evening"> Вечерни чанти
    </label>
</div>
<div>
    <p>3. Кои аспекти ви се најважни при избор на чанта?</p>
    <label>
      <input type="checkbox" name="bagAspects" value="design"> Дизајн
    </label>
    <label>
      <input type="checkbox" name="bagAspects" value="practicality"> Практичност
    </label>
    <label>
      <input type="checkbox" name="bagAspects" value="size"> Големина
    </label>
</div>

<div>
    <p>4. Колку сте задоволни од квалитетот на нашите чанти?</p>
    <label>
      <input type="radio" name="satisfaction" value="1"> 1
    </label>
    <label>
      <input type="radio" name="satisfaction" value="2"> 2
    </label>
    <label>
      <input type="radio" name="satisfaction" value="3"> 3
    </label>
    <label>
      <input type="radio" name="satisfaction" value="4"> 4
    </label>
    <label>
      <input type="radio" name="satisfaction" value="5"> 5
    </label>
</div>

<div>
    <p>5. Како сте најчесто упатени на нашата продавница?</p>
    <label>
      <input type="radio" name="referral" value="search"> Преку пребарувач
    </label>
    <label>
      <input type="radio" name="referral" value="advertisement"> Преку реклами
    </label>
    <label>
      <input type="radio" name="referral" value="recommendation"> Преку пријателска препорака
    </label>
    <label>
      <input type="radio" name="referral" value="other"> Друго
    </label>
</div>
<div>
    <p>6. Дали сте ги искористиле нашите попусти или промоции во последно време?</p>
    <label>
      <input type="radio" name="discountUsage" value="yes"> Да
    </label>
    <label>
      <input type="radio" name="discountUsage" value="no"> Не
    </label>
    <label>
      <input type="radio" name="discountUsage" value="notSure"> Не знам
    </label>
</div>
<div>
    <p>7. Како би ја опишале нашата услуга на клиентите?</p>
    <textarea name="customerServiceDescription" rows="4" cols="50"></textarea>
</div>
<div>
    <p>9. Дали имате предложби за подобрување на нашата продавница?</p>
    <textarea name="suggestions" rows="4" cols="50"></textarea>
</div>
<div><button (click)="submit()">Поднеси</button>  </div>

      